input[type=text], select {
    width: 100%;
    padding: 12px 20px;
    margin: 8px ;
    border: 1px solid red;
    border-radius: 4px;

}

input[type=submit] {
    width: 100%;
    background-color: black;
    color: white;
    padding: 14px 20px;
    margin: 8px ;

    border-radius: 4px;
    cursor: pointer;
}

input[type=submit]:hover {
    background-color:dodgerblue;
}

div {
    border-radius: 5px;
    background-color: violet;
    padding: 20px;
}
